.environment-reading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-subtle-1);
  scroll-snap-align: start;
  -webkit-user-drag: none;
}

.environment-reading *,
.environment-reading svg {
  -webkit-user-drag: none;
}

.environment-reading--compact {
  flex: 0 0 calc((100cqw - 20px) / 3);
  width: calc((100cqw - 20px) / 3);
}

.environment-reading--detail {
  flex: 0 0 calc((100cqw - 20px) / 6);
  width: calc((100cqw - 20px) / 6);
}

.environment-reading__value {
  min-height: 38px;
  font: var(--body-small);
}

.environment-reading__time {
  margin-top: 12px;
  color: var(--color-subtle-1);
  font: var(--body-smallsmall);
  font-size: 10px;
}

.environment-reading--status .environment-reading__time {
  margin-top: 9px;
}

.environment-reading__label {
  min-height: 12px;
  margin-top: 2px;
  color: var(--color-text-sub);
  font-size: 10px;
  line-height: 10px;
  white-space: nowrap;
}

@container (min-width: 230px) {
  .environment-reading--compact {
    flex-basis: calc((100cqw - 20px) / 4);
    width: calc((100cqw - 20px) / 4);
  }
}
