.coin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: var(--color-bg);
}

.coin-page__header {
  align-self: flex-start;
  font: var(--display-small); 
  color: var(--color-primary-dark);
  font-weight: bold; 
  letter-spacing: var(--display-small-spacing);
  margin: 99px 0px 33px 49px;
}

@media (max-width: 360px) {
  .coin-page {
    padding-inline: 20px;
  }
}