.auth-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.auth-intro__description {
  color: var(--color-subtle-1);
  font: var(--body-medium);
  letter-spacing: var(--body-medium-spacing);
  font-weight: 700;
}

.auth-intro__description span {
  display: block;
}

.auth-intro__robot {
  width: 100px;
  height: 100px;
  margin-right: 13px;
  object-fit: contain;
}